#sup-section
  .heading-content.row
    .col-md-12
      h3 11.11 Sale Kini Hadir di iPrice Indonesia!
      p  11.11 Sale adalah rujukan pada hari belanja terbesar di dunia, di mana Anda bisa menikmati potongan harga dan diskon besar-besaran dari setiap destinasi shopping online favorit pada tanggal 11 November setiap tahunnya. Tahun ini, iPrice menghadirkan sejumlah kupon dan diskon untuk membuat 11.11 Sale Indonesia semakin berkesan. Dengan kupon dan diskon yang ada di situs iPrice, Anda bisa berbelanja 11.11 Sale lebih murah dari e-commerce kesayangan seperti Lazada, Zalora, Tokopedia, Blibli.com, dan lain-lain.
  .sup-content.row
    .col-md-4.sup-item
      .sup-item-wrapper
        i.icon-variety.icon-sup-item
        h4 Shop More
        p iPrice Malaysia is home to a large variety of online shopping; integrating over one thousand different online shops that carry a combined total of over 100 million products.
    .col-md-4.sup-item
      .sup-item-wrapper
        i.icon-safety.icon-sup-item
        h4 Secured Shopping
        p You can shop with confidence on iPrice as we only have high quality online shops, including the big names such as Lazada and Zalora. So don't worry and enjoy shopping.
    .col-md-4.sup-item
      .sup-item-wrapper
        i.icon-savings.icon-sup-item
        h4 Save More
        p Shopping online with iPrice Malaysia puts all the products from your favourite online shops in one place. You can also save more with iPrice coupons!
#eleven-content    
  .post-content.row
    .post-item.col-md-4
      h4 Dapatkan Diskon Gede-Gedean 11.11 Sale Indonesia
      p Apa yang terpikir di pikiran Anda ketika mendengar kata diskon? Rasa-rasanya tangan terasa gatal untuk membeli barang-barang yang Anda butuhkan. Ya, inilah waktunya untuk mendapatkan harga terbaik benda-benda yang sudah lama Anda inginkan. Bersiap-siaplah untuk memborong pada tanggal 11 November ini! Sejatinya, tanggal 11 November juga diperingati sebagai Hari Lajang di China. Nah, barangkali Anda bisa memanfaatkan momentum 11.11 Sale Indonesia sebagai pelipur lara diri yang lajang. Semua destinasi online shopping favorit Anda akan memberikan diskon gede-gedean! Inilah kesempatan bagi Anda untuk menikmati Black Friday di Indonesia!
    .post-item.col-md-4
      h4 Lazada 11 11 Sale Untuk Semua Kategori Produk!
      p Siapa pelanggan setia Lazada Indonesia? Yup, salah satu e-commerce terbesar di Indonesia itu juga ikut meramaikan 1111 Sale. Selama satu hari penuh, Anda akan leluasa mendapatkan semua penawaran Lazada 11 11. Sale ini tidak hanya beberapa produk saja, tapi SEMUA KATEGORI PRODUK! Bagi Anda yang sedang ingin memburu barang elektronik impian, gunakan kesempatan 1111 Sale ini untuk berbelanja di Lazada Indonesia. Coba bayangkan ketika akhirnya mendapatkan harga Samsung Galaxy Note 8 terbaru yang lebih murah dibanding toko konvensional, kamera mirrorless terbaru, atau mungkin speaker portable JBL yang kece abis. 
      p Simpan tabungan Anda terlebih dulu dan tunggu momen 11 November untuk membeli semua yang diinginkan di Lazada! Eitss… Tidak hanya kamera atau handphone, barang-barang elektronik rumah tangga juga bisa Anda dapatkan dengan harga semiring-miringnya! Mulai dari televisi HD, kulkas, laptop, perangkat home theater, mesin cuci, microwave, kipas angin, AC, blender, mixer, vacuum cleaner, dan semuanya. Jangan lewatkan kesempatan Lazada 1111 Sale yang datang hanya setahun sekali ini!
    .post-item.col-md-4
      h4 Makin Stylish dan Kece Belanja Fashion Zalora 1111 Sale
      p Momen 1111 Sale tidak hanya untuk barang elektronik saja. Anda pun bisa memanfaatkannya untuk belanja sejumlah produk fashion yang sedang tren belakangan ini. Seperti yang kita tahu, Zalora Indonesia merupakan salah satu fashion e-commerce terbesar yang menyajikan kebutuhan fesyen terlengkap, termurah dan juga kualitas yang sangat oke! Lebih dari 100 brand fashion bernaung di website Zalora. Kapan lagi Anda bisa mendapatkan harga termurah untuk sepatu Nike? Siapkan diri Anda untuk semakin stylish dan hits dari ujung kepala hingga ujung kaki dengan ragam fashion Zalora di 1111 Sale ini! Dijamin setelah Zalora 11.11 Sale, Anda akan lebih percaya diri melenggang dengan pakaian, tas, dan sepatu baru.
  .post-content.row
    .post-item.col-md-12
      h4 Temukan Kode Kupon, Promo, dan Voucher 1111 Sale di iPrice!
      p Tak perlu bingung “mejaring” e-commerce mana saja yang mengadakan mega sale 1111. Cukup dengan mengakses iPrice Indonesia, Anda untuk tidak ketinggalan satupun penawaran! iPrice Indonesia memiliki satu halaman khusus bernama “Kupon dan Penawaran” yang memudahkan Anda untuk menemukan kode kupon dan promo-promo paling menggiurkan sepanjang hari 1111 Sale!
      p Lupakan kode-kode dari gebetan yang semakin tidak jelas, sekarang saatnya Anda move on ke kode kupon belanja yang pastinya bikin lebih hepi! Mulai dari kode kupon dan voucher belanja Lazada, Zalora, Tokopedia, Shopee, Hotels.com, Blibli.com, Bukalapak dan lain-lain! Kode kupon ini tidak terbatas pada fashion dan elektronik saja, tapi juga voucher belanja untuk kategori lainnya seperti peralatan rumah tangga, promo tiket pesawat, promo tiket hotel, produk-produk makeup dan skin care, perlengkapan anak, hingga makanan serta grocery! Kapan lagi Anda akan menemukan potongan harga sebesar-besarnya selain 11.11 Sale ini? Tunggu apa lagi? Gunakan kode kupon dari iPrice Indonesia untuk mendapatkan semua barang yang Anda mau!
    .post-item.col-12
      h4 Langkah-Langkah Mudah untuk Mendapatkan Kode Kupon dari iPrice Indonesia
      p Berikut langkah-langkah mudah yang bisa Anda ikuti untuk mendapatkan kode kupon dan penawaran 11.11 Sale Indonesia dari iPrice:
      ul
        li Kunjungi website iPrice Indonesia (iprice.co.id) dan klik pilihan menu “% Kupon” yang terletak di pojok kiri atas halaman utama.
        li Anda secara otomatis akan diarahkan ke halaman Kupon iPrice (iprice.co.id/coupons/) untuk melihat dan memilih daftar merchant yang tersedia. Ada lebih dari 300 toko online yang tersedia di halaman itu. Mulai dari Airbnb, Booking.com, Bobobobo, Uber, Grab, Shopee, JD.ID, Elevenia, Althea, Sociolla, dan masih banyak lagi. Deretan toko online yang telah berpartisipasi dengan iPrice itu menyajikan promo dan kupon belanja untuk membuat Anda semakin berhemat! 
        li Carilah merchant sesuai keinginan Anda. Misalnya Lazada, maka pilih menu Lazada pada bagian pilihan merchant yang tersedia. 
        li Begitu diklik, Anda akan diarahkan pada kumpulan kode kupon dari merchant terkait. Ada berbagai pilihan kode kupon dan diskon yang bisa Anda pillih. Pilih penawaran yang membuat Anda tertarik lalu klik pada “Dapatkan Penawaran’ atau ‘Dapatkan Kode Kupon’ pada kotak yang telah tersedia.
        li Pilihlah kode kupon dan penawaran yang memang khusus untuk event 1111 Sale agar Anda bisa menghemat lebih banyak ketika membeli barang di masing-masing merchant!
        li Setelah klik “Dapatkan Kode Kupon” atau “Dapatkan Penawaran”, iPrice akan mengalihkan Anda ke situs merchant tersebut untuk berbelanja produk-produk yang diinginkan. Jangan lupa untuk copy paste kode dari halaman iPrice saat check out di akhir transaksi Anda. Anda mendapatkan potongan harga gila-gilaan dan cukup membayar dengan murah-meriah.
        li Kini Anda tinggal duduk manis menunggu barang-barang yang telah dipesan sampai dengan selamat di depan rumah. Selamat menikmati penawaran dan voucher belanja 1111 Sale dari iPrice Indonesia!
    .post-item.col-12
      h4 Sekilas Tentang Kampanye 1111 Sale
      p Barangkali Anda pernah mendengar istilah Black Friday, yakni diskon besar-besaran yang terjadi di Amerika Serikat pada satu hari Jumat di bulan November. Belakangan, regional Asia Tenggara juga memiliki momen yang sama yakni 1111 Super Sale atau biasa disebut Singles’ Day. Sale ini digelar selama satu hari penuh pada bulan November yang menggabungkan tanggal 11 dengan bulan ke-11. Semua harga produk turun pada hari itu. Maka tidak heran bila tanggal 11-11 ini merupakan hari belanja sedunia, di mana Anda bisa memborong semua barang dan produk yang diinginkan dengan diskon yang paling menggiurkan! Selamat menikmati kode promo dan voucher iPrice Indonesia di 1111 Sale inI! Cari kuponnya, bandingkan harganya dan belanja lebih hemat! 