#sup-section
  .heading-content.row
    .col-md-12
      h3 Snatch the Best Deals in #{country} with the Black Friday Sales 2017
      p  What better way to give thanks to your loved ones than by gifting them something special? While many anticipate Thanksgiving for the food, there is nothing more exciting than the Black Friday sales where you can buy your favorite items for just a fraction of the price. Black Friday Sales can be considered as part of the Thanksgiving tradition and it occurs every year the following day after your Thanksgiving feast. This year, the Black Friday 2017 date falls on the 24th of November so this great deal is approaching faster than you think!
  .sup-content.row
    .col-md-4.sup-item
      .sup-item-wrapper
        i.icon-variety.icon-sup-item
        h4 Shop More
        p iPrice is home to a large variety of online shopping; integrating over one thousand different online shops that carry a combined total of over 100 million products.
    .col-md-4.sup-item
      .sup-item-wrapper
        i.icon-safety.icon-sup-item
        h4 Shop Safe
        p You can shop with confidence on iPrice as we only have high quality online shops, including the big names such as Lazada and Zalora. So don't worry and enjoy shopping.
    .col-md-4.sup-item
      .sup-item-wrapper
        i.icon-savings.icon-sup-item
        h4 Save More
        p Shopping online with iPrice puts all the products from your favourite online shops in one place. You can also save more with iPrice coupons!
#eleven-content    
  .post-content.row
    .post-item.col-md-12
      h4 Find Black Friday Deals on iPrice
      p As one of Asia’s favorite shopping aggregators, iPrice features some of the most exclusive coupons and offers for this upcoming Black Friday Sales. You don’t need to line up for hours on end in front of your favorite store just to get a taste of the Black Friday deals. With the coupons from iPrice, you can enjoy the discount prices from the comfort of your own homes! That means no more lining up in the dead of night waiting for the store to open because all the Black Friday 2017 deals will be available to you at your fingertips.
    .post-item.col-12
      h4 Shop with Your Favorite Merchants for the Black Friday Sales 2017
      p Zalora, Lazada, Shopee, 11 Street, Grab, Uber, you name it; all the popular online merchants will definitely be participating in this year’s Black Friday Sales. They will offer the best discounts and offers online that you can’t find anywhere else. Some of the coupon types offered by these merchants include discounts up to 90% on certain items, vouchers, buy some get more free, and deals that can be unlocked when using credit or debit cards from certain companies.
    .post-item.col-12
      h4 Everything You Can Get During the Black Friday Sales 2017
      p During this year’s Black Friday sales, all your favorite online shops and merchants are offering their greatest discounts yet on everything ranging from electronics to home and living goods. Though, Black Friday Sales are famous for its insane discounts for gadgets, you can purchase televisions, home theater sets, gaming consoles, and other electronics at very attractive price tags.
      p If you’re not a techie, you can still enjoy Black Friday deals for other products and services, as well. Beauty and fashion lovers can get their fix from Shopee and Zalora while those seeking for fun yet affordable activities can head right over to Fave. Commuting to work? Find a Grab or Uber coupon code to make commuting easier and cheaper. Or if you’re looking for other miscellaneous items, go ahead and visit Lazada. As our number one merchant, Lazada have offered some of the greatest online deals in the past so they will surely offer something greater for Black Friday Sale shoppers.
    .post-item.col-12
      h4 Steps to Redeem Your Exclusive Black Friday Sales Coupons
      p Using your Black Friday deals is as easy as pie; you only need to follow these simple steps to redeem your Black Friday Sales coupons and offers.
      ul
        li Visit the iPrice website and direct yourself to the designated coupon’s page. You can find the link on the upper left-hand of the page above the iPrice logo.
        li Browse through the available coupons on the iPrice coupons page. You can either search under the top online merchants or the product category.
        li Once you’ve found the best offer, under each coupon, you can click on the "Details" button to read about the coupon terms and expiry dates.
        li Read the coupon details and continue on by clicking the orange "View this Voucher" or the blue "Get this Deal" button.
        li You will be redirected to a pop-up window. The window will consist a coupon code that you can copy and paste in the checkout page.
        li If you can’t find a coupon code and there is a “no code required” stated in the pop-up window, worry not because that only means the offer will be automatically applied to your order.
        li After acquiring the code, you can continue shopping and browsing the Black Friday Sales items on your favorite merchant’s website.
        li Add all the items into the shopping cart and proceed to checkout. If you’re a new customer on the site, create a new account to make the shopping experience easier. If you already have an account on the site, log in using your details.
        li Input your shipping address and personal details and don’t forget to paste the code you copied from iPrice into the appropriate box.
        li Choose your payment and shipping method and complete the transaction. All that’s left to do is to wait for your Black Friday Sales items to arrive!
      p What else are you waiting for? Start shopping and show gratitude for your loved ones without breaking bank with the Black Friday Sales 2017.

