extends ../../../page.1111.pug
block header
	- var pageTitle = 'iPrice Hong Kong 11/11 Sales'
	- var plugins = [{'element':'amp-form','src':'https://cdn.ampproject.org/v0/amp-form-0.1.js'},{'element':'amp-iframe','src':'https://cdn.ampproject.org/v0/amp-iframe-0.1.js'},{'element':'amp-list','src':'https://cdn.ampproject.org/v0/amp-list-0.1.js'},{'element':'amp-carousel','src':'https://cdn.ampproject.org/v0/amp-carousel-0.1.js'}]
	- var baseUrl = 'https://iprice.hk'
	- var topWording = 'Search, Compare & Save'
	- var og_image = 'https://bilhasry-iprice.github.io/sale/data/hk/image/1111-sale.jpg'
	- var published_date = new Date('2017-11-01')
	- var description = 'Single\'s Day sales is here! Get all your favourite products on discounts!'
	- var image = 'https://bilhasry-iprice.github.io/sale/data/hk/image/1111-sale.jpg'
	- var lang = 'en'
	- var mustache = 'true'
	- var homeUrl = baseUrl + '/sale/1111/'

block content
	- var d1 					= new Date()
	- var published_date 		= d1.toDateString() 
	- var main_banner_desktop 	= 'https://bilhasry-iprice.github.io/sale/data/hk/image/main-banner.jpg'
	- var main_banner_mobile 	= 'https://bilhasry-iprice.github.io/sale/data/hk/image/main_banner_mobile.jpg'
	- var d2 					= new Date()
	- var today 				= d2.toDateString()

block footer
	- var urls = [{'class':'singapore','link':'https://iprice.sg','title':'Singapore'},{'class':'malaysia','link':'https://iprice.my','title':'Malaysia'},{'class':'indonesia','link':'https://iprice.co.id','title':'Indonesia'},{'class':'philippines','link':'https://iprice.ph','title':'Philippines'},{'class':'thailand','link':'https://ipricethailand.com','title':'Thailand'},{'class':'vietnam','link':'https://iprice.vn','title':'Vietnam'}]
	- var groups = [{'class':'about-us','link':'http://ipricegroup.com/','title':'About Us'},{'class':'trends','link':'https://iprice.ph/trends/','title':'Trends'},{'class':'contact-us','link':'http://ipricegroup.com/contact.html','title':'Contact Us'},{'class':'careers','link':'http://ipricegroup.com/career.html','title':'Careers'},{'class':'partners','link':'http://ipricegroup.com/partner.html','title':'Partners'},{'class':'privacy','link':'https://iprice.ph/privacy-policy/','title':'Privacy Policy'},{'class':'terms-of-use','link':'https://iprice.ph/terms-of-use/','title':'Terms of Use'},{'class':'iema','link':'https://iprice.ph/iema/2016/','title':'Vietnam'}]
	- var socials = [{'class':'facebook','link':'https://www.facebook.com/ipriceMalaysia','title':'Facebook'},{'class':'pinterest','link':'https://www.pinterest.com/ipricemy','title':'Pinterest'},{'class':'twitter','link':'https://twitter.com/iPriceMY','title':'Twitter'},{'class':'google-plus','link':'http://plus.google.com/+Ipricegroup/about','title':'Google+'}]
