#sup-section
  .heading-content.row
    .col-md-12
      h3 Shop till You Drop with the 11/11 Sale!
      p  Get ready to do all your year's shopping starting from 1st November 2017. Known as Singles' Day, 11-11 is a day created for those who would rather shop online than do anything else. The sale starts on 1st November and goes on until 13rd November! Thanks to the amazing discounts from the best merchants in Malaysia, you get rebates and huge promotions on all your favourite items and services.
  .sup-content.row
    .col-md-4.sup-item
      .sup-item-wrapper
        i.icon-variety.icon-sup-item
        h4 Shop More
        p iPrice Malaysia is home to a large variety of online shopping; integrating over one thousand different online shops that carry a combined total of over 100 million products.
    .col-md-4.sup-item
      .sup-item-wrapper
        i.icon-safety.icon-sup-item
        h4 Secured Shopping
        p You can shop with confidence on iPrice as we only have high quality online shops, including the big names such as Lazada and Zalora. So don't worry and enjoy shopping.
    .col-md-4.sup-item
      .sup-item-wrapper
        i.icon-savings.icon-sup-item
        h4 Save More
        p Shopping online with iPrice Malaysia puts all the products from your favourite online shops in one place. You can also save more with iPrice coupons!
#eleven-content    
  .post-content.row
    .post-item.col-md-4
      h4 1111 Coupons and Promos at iPrice
      p Where do you get the best 1111 discounts? Look no further! iPrice brings you irresistible coupons and promos tailor-made for the shopaholic in you. With some discounts up to 90% along with flash deals and up to RM100 vouchers, iPrice's 11/11 period is the mega sale you've been waiting for.
    .post-item.col-md-4
      h4 Your Favourite Online Merchants with 11.11 Promotions
      p We've got all your favourite online merchants lined up with the best discounts of the year. With the iPrice 11.11 Malaysia sale, you can shop from a variety names such as Lazada, Zalora, Asos, Agoda, Shopee, Expedia, Sephora, Grab, Apple and 11 Street. These are just some of the most popular stores with shopping vouchers to redeem big discounts. 
      p Pro tip: As Lazada is the biggest merchant on iPrice Malaysia, the sale is sometimes known as the Lazada 11.11 Sale.
    .post-item.col-md-4
      h4 Some 11.11 Coupons You Must Have
      p Before shopping on the 11-11 onwards, you need to look into the most suitable promotions online. iPrice's selection of coupons and vouchers allows you freedom to choose from rebates to help you save big while getting what you need. Here are some types of 11.11 coupons you might see on iPrice:
      ul
        li Free gift voucher with a set purchase
        li Discounts off selected items with a minimum spent
        li Additional 11/11 discount promo code with mobile app
        li 50% Discount on second item purchased
        li More discounts with use of selected credit card or bank card deals
  .post-content.row
    .post-item.col-md-12
      h4 11-11 Vouchers on All Products and Services
      p It's not enough for us to say “Everything is on offer!”. While we know that you can redeem vouchers and incredible discounts on ALL products and services, you can shop smart by looking for exactly what you need with the 11/11 promos. Here are some categories that are on sale starting 11-11:
      | <p> <strong>Electronics</strong> – Mobile phones, laptops and tablets, monitors, TVs, cameras and gaming accessories. Use Lazada's exclusive 11 11 sale coupons.</p>
      | <p> <strong>Fashion</strong> – Iconic trends in clothing, bags, jewellery, watches and accessories. Go for Zalora 11-11 coupons.</p>
      | <p> <strong>Health & Beauty</strong> – Makeup, perfumes, bath & body products, medical supplies, skin care and supplements.</p>
      | <p> <strong>Food & Beverage</strong> – The latest discounts with Starbucks, Fave, Happy Fresh, Honestbee, UberEATS and Boozeeat.</p>
      | <p> <strong>Travel</strong> – Fly around the world or visit our local culture with services from Grab, Uber, Expedia, AirAsia, Malaysia Airlines, ClubMed, and Booking.com among many others.</p>
      | <p> <strong>Appliances</strong> – Choose from air conditioners, cookers, refrigerators, blenders, ovens, washing machines, irons, water purifiers and thousands more!</p>
      | <p> <strong>Sports & Outdoors</strong> – Get fit with gym accessories along with water sports, racket sports, team sports, along with camping gear and outdoor accessories.</p>
      | <p> <strong>Home & Living</strong> – Furnish your home or office with discounts on furniture, lighting, storage and security options to name a few.</p>
      | <p> <strong>Kids Products & Toys</strong> – Give your kids a creative and fun learning environment with toys, gifts, baby gear, nursery products, along with feeding accessories, and maternity care products. </p>
    .post-item.col-12
      h4 How to Redeem Your 11.11 Coupons and Vouchers
      p Shopping with the 11.11 coupons and vouchers is so simple – even kids can do it. Here are some easy steps to get what you need at the lowest prices in the shortest time possible.
      ul
        li Get on the iPrice 11.11 coupon page. Look for the most attractive offers available.
        li Click on the offer. In most cases, you will be redirected to the merchant's website where all the goodies are. If you see a pop-up box with a promo code or voucher code, copy (Ctrl + C) the code for later use. 
        li If you are a new online customer to the merchant, go ahead and create an online account. With most registrations, you should be able to use your Google or Facebook sign-in details. 
        li Add in your delivery address, full name, credit/debit card details and other necessary data for best service.
        li Now go ahead and browse the product selection that fits the promotion details. If you are looking for services, be specific about what you are looking for (time, date, etc).
        li Choose the product or service by clicking on the icon or description. Read all the terms of purchase. For products, you can store them in a 'Shopping Cart' or 'Wishlist' for purchase later.
        li Head to 'Checkout'. Do have your payment details ready. Paste (Ctrl + V) the promo code you copied earlier into the ‘Promo code' or ‘ Voucher code' box available. Sometimes the 11.11 discount is indicated with a lower price in a different colour. 
        li Purchase your item/service. Be sure to take a screenshot of the product or service you have purchased to have the details at hand. Also read the terms and conditions of the payment, delivery, and potential refunds.
      p Now that you know how to make the most out of the 1111 sale, it's time to shop! Start with the discounted products and services above! Happy shopping!