extends ../../../page.blackfriday.pug
block header
	- var pageTitle = 'BlackFriday 2017 Sale Deals, Promo Codes & Vouchers - Singapore'
	- var plugins = [{'element':'amp-form','src':'https://cdn.ampproject.org/v0/amp-form-0.1.js'},{'element':'amp-iframe','src':'https://cdn.ampproject.org/v0/amp-iframe-0.1.js'},{'element':'amp-list','src':'https://cdn.ampproject.org/v0/amp-list-0.1.js'},{'element':'amp-carousel','src':'https://cdn.ampproject.org/v0/amp-carousel-0.1.js'}]
	- var baseUrl = 'https://iprice.sg'
	- var topWording = 'Search, Compare & Save'
	- var og_image = 'https://bilhasry-iprice.github.io/sale/data/my/image/1111-sale.jpg'
	- var published_date = new Date('2017-11-03')
	- var description = 'Enjoy the Biggest BlackFriday 2017 Sale in Singapore is back with Exclusive Black Friday Deals, Promo Codes, Vouchers from Lazada, Honestbee, Zalora, Uber, Grab and more.'
	- var image = 'https://bilhasry-iprice.github.io/sale/data/my/image/1111-sale.jpg'
	- var lang = 'en'
	- var mustache = 'true'
	- var homeUrl = baseUrl + '/sale/blackfriday/'

block content
	- var mainTitle = 'BlackFriday 2017'
	- var subTitle = 'Enjoy the Biggest BlackFriday 2017 Sale in Singapore'
	- var subscribeWording = 'A sale is coming, brace yourself! <br />Don’t be left out in the cold, let us keep you warm with hot coupons and deals.'
	- var couponsTitle = 'If you can\'t wait for the sale, check out these coupons in the meantime.'
	- var carouselData = 'https://bilhasry-iprice.github.io/sale/data/sg/data_slides_BF_SG.json'
	- var couponData = 'https://bilhasry-iprice.github.io/sale/data/sg/data_coupons.json'
	- var subscribeUrl = '//iprice.us8.list-manage.com/subscribe/post?u=324d1f42da403cc125e4ac5e1&amp;id=9e3db8ad29'
	- var mailchimp = '9e3db8ad29'

block footer
	- var urls = [{'class':'malaysia','link':'https://iprice.my','title':'Malaysia'},{'class':'indonesia','link':'https://iprice.co.id','title':'Indonesia'},{'class':'philippines','link':'https://iprice.ph','title':'Philippines'},{'class':'hong-kong','link':'https://iprice.hk','title':'Hong Kong'},{'class':'thailand','link':'https://ipricethailand.com','title':'Thailand'},{'class':'vietnam','link':'https://iprice.vn','title':'Vietnam'}]
	- var groups = [{'class':'about-us','link':'http://ipricegroup.com/','title':'About Us'},{'class':'trends','link':'https://iprice.sg/trends/','title':'Trends'},{'class':'contact-us','link':'http://ipricegroup.com/contact.html','title':'Contact Us'},{'class':'careers','link':'http://ipricegroup.com/career.html','title':'Careers'},{'class':'partners','link':'http://ipricegroup.com/partner.html','title':'Partners'},{'class':'privacy','link':'https://iprice.sg/privacy-policy/','title':'Privacy Policy'},{'class':'terms-of-use','link':'https://iprice.sg/terms-of-use/','title':'Terms of Use'},{'class':'iema','link':'https://iprice.sg/iema/2016/','title':'iEMA'}]
	- var socials = [{'class':'facebook','link':'https://www.facebook.com/ipriceSingapore','title':'Facebook'},{'class':'pinterest','link':'https://www.pinterest.com/ipricesg','title':'Pinterest'},{'class':'twitter','link':'https://twitter.com/iPriceSG','title':'Twitter'},{'class':'google-plus','link':'http://plus.google.com/+Ipricegroup/about','title':'Google+'}]
