$color-turqoise : #33CCCC;
$color-orange 	: #FF6633;
$color-blue 	: #086A87;
$color-green 	: #0DA290;
$color-grey 	: #EAEAEA;

.content-block{
	width: 100%;
	max-width: 1024px;
	margin: 0px auto;
}

.row > [class*='col-'],
.row > [class*='col-md'] {
    -webkit-box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

[class*='col-md']{
    float:left;
}

@for $i from 1 through 12{
	.col-md-#{$i}{
		width: percentage($i/12);
	}	
}


#main-content{
	margin: 0px auto;
	width: 100%;
	padding: 0px;
	#big-slider{
		max-height: 457px;
		margin: 0px;
	}
	.top-selling-products amp-list{
	    margin: 36px 0px;
	    min-height:210px;
	    display:block;
	    div amp-carousel{
	    	min-height:210px;
	    	display:block;
	    	div a{
	    		margin-right:24px;
			    text-align:center;
			    font-size: 18px;
			    line-height: 24px;
			    font-weight: 600;
			    amp-img{
				    min-height:180px;
				    width: 100%;
				    min-width:320px;
				}
			    &:last-child{
				    margin-right: 0px;
				}
	    	}

	    }
	}
	#brand-list{
		clear:both;
		margin:36px 0px;
		.brand-list{
			amp-list{
			    min-height: 320px;
			    clear:both;
			    .brand-item{
			    	max-width: 320px;
			    	margin-right: 32px;
			    	margin-bottom: 36px;
			    	&:nth-child(3n){
			    		margin-right: 0px;
			    	}
			    	a span{
			    		font-size: 16px;
					    line-height: 18px;
					    text-align: center;
					    display: block;
					    margin-top: 10px;
			    	}
			    }
			}
		}
	}
	#coupon-list{
		.coupon-list-wrapper amp-list > div{
    padding: 16px 8px;
}
.coupon-item.col-md-4 {
    border: 1px solid #e7e7e7;
    margin-right: 24px;
    max-width: 320px;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(164,164,164,0.2);
}

.coupon-item:nth-child(3n){
    margin-right:0px;
}

.coupon-item amp-img{
    max-width:200px;
}

.coupon-item .highlight{
    font-size: 32px;
    display: block;
    font-weight: bold;
    color: #f63;
}

.coupon-item .description{
    font-size: 16px;
    line-height: 24px;
    display: block;
}

.coupon-item .coupon_code{
    margin-top:16px;
    display:block;
    border: 2px solid #f63;
    border-radius: 4px;
    padding: 8px;
    font-size: 18px;
    text-align:right;
}
	}
	#sup-section{
		.heading-content{
			@extend .content-block;	
			margin-top: 35px;
			h3 {
			    font-size: 32px;
			    width:100%;
			    max-width: 640px;
			    margin: 0px auto;
			    margin-bottom: 50px;
			    text-align:center;
			    color: $color-blue;
			}
		}
		.sup-content.row {
		    @extend .content-block;	
		    margin-top: 15px;
		}

		.sup-item{
		    margin: 0px;
		    padding: 5px 10px 5px 5px;
		}

		.sup-item:nth-child(2){
		    padding: 5px 5px 5px 5px;
		}

		.sup-item:last-child{
		    padding: 5px 5px 5px 10px;
		}

		.sup-item-wrapper{
		    background: #f7f7f7;
		    border-radius: 8px;
		    padding:25px;
		    min-height: 294px;
		    border: 1px solid #e4e4e4;
		    -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
		    text-align:center;
		    .icon-sup-item{
			    width:96px;
			    height: 96px;
			    margin: 0px auto;
			    display:block;
			    background-size: 100%;
			}
			h4{
				font-size: 18px;
				color: $color-blue;
			}
		    p{
			    color: #444;
			    font-size: 13px;
			    line-height: 18px;
			    padding: 15px 0px;
			}
		}
		.icon-variety{
		    background: url(../assets/img/variety-icon.png) no-repeat;
		}

		.icon-safety{
		    background: url(../assets/img/safety-icon.png) no-repeat;
		}

		.icon-savings{
		    background: url(../assets/img/savings-icon.png) no-repeat;
		}
	}
	#eleven-content{
		width: 100%;
		display: table;
		margin: 40px 0px;
		.post-content{
			width: 100%;
			max-width: 1024px;
			margin: 0px auto;
			float: none;
			.post-item{
				padding: 10px 20px;
				h4{
					font-size: 16px;
					font-weight: normal;
					text-align:left;
					color: $color-blue;
					margin-bottom: 10px;
				}
				ul{
					list-style: disc;
					padding-left: 25px;
					li{
						font-size: 13px;
						line-height: 18px;
						color: #444;
					}
				}
				p{
					font-size: 13px;
					line-height: 18px;
				}

			}

		}
	}
}